* {
    box-sizing: border-box;
}

html {
    background-color: #f0f0f0;
}

.App {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 0 15px;
}

.head-text {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 30px;
}

.wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgb(152 159 170 / 26%);
    border: 1px solid rgba(152, 159, 170, .49);
    width: 100%;
    max-width: 700px;
}

.name {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 95%;
}

.message {
    width: 95%;
    height: 100px;
    resize: none;
}

.add {
    border-radius: 5px;
    border: none;
    background-color: rgb(96, 178, 255);
    color: white;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 100px;
    height: 30px;
}

.review-box {
    position: relative;
    display: flex;
    border: solid 1px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgb(152 159 170 / 26%);
    border: 1px solid rgba(152, 159, 170, .49);
    margin-bottom: 10px;
    min-height: 140px;
    max-width: 700px;
    padding: 15px;
    width: 100%;
}

.user-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    word-break: break-word;
}

.user-name {
    font-weight: bold;
    padding-right: 55px;
}

.user-message {
    margin-top: 10px;
    text-align: left;
}

.user-logo__photo {
    border: solid 2px rgb(185, 185, 185);
    border-radius: 13px;
}

.button-container {
    bottom: 30px;
    position: absolute;
    top: 15px;
    right: 15px;
    height: 20px;
    width: 50px;
    display: flex;
    justify-content: space-between;
}

.delete-button,
.edit-button {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.edit-form {
    position: relative;
    margin-bottom: 30px;
}